.footer-div{
    background-color: rgb(49, 49, 49);
    height:10vh;
    margin:0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.footer-div button{
    background-color: floralwhite;
    height:45px;
    width:60px;
    border: none;
    font-size: 25px;
    padding-top:8px;
}

.footer-div button:hover{
    cursor: pointer;
}

.footer-div p{
   color: floralwhite;
}

.div1{  
    width:25%;
    display:flex;
    justify-content:space-around;
    flex-direction: row;
    max-width: 25%;
}

.social-icons{
height:40px;
width:200px;
display:flex;
justify-content: space-around;
align-items: center;
}

.social-icons a{
color:rgb(240, 240, 240);
display:flex;
justify-content: center;
align-items: center;
height:40px;
width: 40px;
font-size: 30px;
}

.social-icons .icons{
    font-size: 28px;   
}