.home-div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width:100vw;
height:70vh;
}



.home-div h1, h2{
display:flex;
align-items:flex-start;
justify-content:flex-start;
color:white;

}